USE [master]
GO
/****** Object:  Database [NewEWayBill]    Script Date: 08-12-2024 21:49:41 ******/
CREATE DATABASE [NewEWayBill]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewEWayBill', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewEWayBill.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewEWayBill_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewEWayBill_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewEWayBill].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewEWayBill]
GO
/****** Object:  Table [dbo].[CheckBoxOptions]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckBoxOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OptionName] [nvarchar](255) NOT NULL,
	[IsChecked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildFiles]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildFiles](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentCode] [varchar](10) NULL,
	[DocumentName] [varchar](30) NULL,
	[CreatedBy] [int] NULL,
	[CreateOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_DocumentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EwayBillItem]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EwayBillItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EwayBillRequestId] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductDesc] [nvarchar](255) NULL,
	[HsnCode] [nvarchar](20) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[QtyUnit] [nvarchar](20) NULL,
	[TaxableAmount] [decimal](18, 2) NULL,
	[CGSTRate] [decimal](5, 2) NULL,
	[SGSTRate] [decimal](5, 2) NULL,
	[IGSTRate] [decimal](5, 2) NULL,
	[CessRate] [decimal](5, 2) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EwayBillItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EwayBillRequest]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EwayBillRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplyType] [nvarchar](50) NULL,
	[SubSupplyType] [nvarchar](50) NULL,
	[DocType] [nvarchar](50) NULL,
	[DocNo] [nvarchar](50) NULL,
	[DocDate] [nvarchar](20) NULL,
	[FromGstin] [nvarchar](50) NULL,
	[FromTrdName] [nvarchar](100) NULL,
	[FromAddr1] [nvarchar](255) NULL,
	[FromAddr2] [nvarchar](255) NULL,
	[FromPlace] [nvarchar](100) NULL,
	[ActFromStateCode] [nvarchar](10) NULL,
	[FromPincode] [nvarchar](10) NULL,
	[FromStateCode] [nvarchar](10) NULL,
	[ToGstin] [nvarchar](50) NULL,
	[ToTrdName] [nvarchar](100) NULL,
	[ToAddr1] [nvarchar](255) NULL,
	[ToAddr2] [nvarchar](255) NULL,
	[ToPlace] [nvarchar](100) NULL,
	[ToPincode] [nvarchar](10) NULL,
	[ActToStateCode] [nvarchar](10) NULL,
	[ToStateCode] [nvarchar](10) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[DispatchFromGSTIN] [nvarchar](50) NULL,
	[DispatchFromTradeName] [nvarchar](100) NULL,
	[ShipToGSTIN] [nvarchar](50) NULL,
	[ShipToTradeName] [nvarchar](100) NULL,
	[TotalValue] [decimal](18, 2) NULL,
	[CGSTValue] [decimal](18, 2) NULL,
	[SGSTValue] [decimal](18, 2) NULL,
	[IGSTValue] [decimal](18, 2) NULL,
	[CessValue] [decimal](18, 2) NULL,
	[CessNonAdvolValue] [decimal](18, 2) NULL,
	[TotInvValue] [decimal](18, 2) NULL,
	[TransMode] [nvarchar](50) NULL,
	[TransDistance] [decimal](18, 2) NULL,
	[TransporterId] [nvarchar](50) NULL,
	[TransDocNo] [nvarchar](50) NULL,
	[VehicleNo] [nvarchar](50) NULL,
	[VehicleType] [nvarchar](50) NULL,
	[RequestJson] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EwayBillRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EwayBillResponseData]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EwayBillResponseData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocNo] [nvarchar](50) NULL,
	[ewayBillNo] [bigint] NULL,
	[EwayBillDate] [varchar](20) NULL,
	[ValidUpto] [varchar](20) NULL,
	[StatusCode] [varchar](10) NULL,
	[StatusDesc] [varchar](255) NULL,
	[ResponseJson] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EwayBillResponseData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageCity]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageCity](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [int] NULL,
	[City] [nvarchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ManageCity] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageCountry]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageCountry](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](10) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__ManageCo__10D160BF3C937BAD] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageRole]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageRole](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ManageRole] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageState]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageState](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](10) NULL,
	[StateCode] [int] NOT NULL,
	[State] [varchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ManageState] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserChildFiles]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChildFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FileName] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserChildFiles] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Role] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[Hobbies] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckBoxOptions] ON 

INSERT [dbo].[CheckBoxOptions] ([Id], [OptionName], [IsChecked]) VALUES (1, N'Touch', 0)
INSERT [dbo].[CheckBoxOptions] ([Id], [OptionName], [IsChecked]) VALUES (2, N'Bluetooth', 0)
INSERT [dbo].[CheckBoxOptions] ([Id], [OptionName], [IsChecked]) VALUES (3, N'Waterproof', 0)
SET IDENTITY_INSERT [dbo].[CheckBoxOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[ChildFiles] ON 

INSERT [dbo].[ChildFiles] ([FileId], [FileName], [EmployeeId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'images (1).jpeg', 1, 1, CAST(N'2024-10-23T20:43:33.787' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ChildFiles] ([FileId], [FileName], [EmployeeId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'images.jpeg', 1, 1, CAST(N'2024-10-23T20:43:33.787' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ChildFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentTypes] ON 

INSERT [dbo].[DocumentTypes] ([Id], [DocumentCode], [DocumentName], [CreatedBy], [CreateOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'INV', N'Tax Invoice', 1, CAST(N'2024-09-20T15:34:16.093' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[DocumentTypes] ([Id], [DocumentCode], [DocumentName], [CreatedBy], [CreateOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'BIL', N'Bill of Supply', 1, CAST(N'2024-09-20T15:34:50.127' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[DocumentTypes] ([Id], [DocumentCode], [DocumentName], [CreatedBy], [CreateOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, N'BOE', N'Bill of Entry', 1, CAST(N'2024-09-20T15:34:58.843' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[DocumentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [EmployeeName], [Address], [City], [Password], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'Shaikh', N'Viqar', N'Shaikh Viqar', N'Haji Ahmed Nagar', N'Jalgaon', N'qwe', 1, CAST(N'2024-10-23T20:43:33.783' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[EwayBillItem] ON 

INSERT [dbo].[EwayBillItem] ([Id], [EwayBillRequestId], [ProductName], [ProductDesc], [HsnCode], [Quantity], [QtyUnit], [TaxableAmount], [CGSTRate], [SGSTRate], [IGSTRate], [CessRate], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, 1, N'Wheat', N'Wheat', N'1001', CAST(4.00 AS Decimal(18, 2)), N'BOX', CAST(56099.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2024-11-20T20:29:07.830' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EwayBillItem] ([Id], [EwayBillRequestId], [ProductName], [ProductDesc], [HsnCode], [Quantity], [QtyUnit], [TaxableAmount], [CGSTRate], [SGSTRate], [IGSTRate], [CessRate], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, 2, N'Wheat', N'Wheat', N'1001', CAST(4.00 AS Decimal(18, 2)), N'BOX', CAST(56099.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2024-11-20T21:09:57.207' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EwayBillItem] ([Id], [EwayBillRequestId], [ProductName], [ProductDesc], [HsnCode], [Quantity], [QtyUnit], [TaxableAmount], [CGSTRate], [SGSTRate], [IGSTRate], [CessRate], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, 3, N'Wheat', N'Wheat', N'1001', CAST(4.00 AS Decimal(18, 2)), N'BOX', CAST(56099.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2024-11-20T21:19:03.383' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EwayBillItem] OFF
GO
SET IDENTITY_INSERT [dbo].[EwayBillRequest] ON 

SET IDENTITY_INSERT [dbo].[EwayBillRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[EwayBillResponseData] ON 

SET IDENTITY_INSERT [dbo].[EwayBillResponseData] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageCity] ON 

INSERT [dbo].[ManageCity] ([CityID], [StateCode], [City], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, 27, N'Mumbai', 1, CAST(N'2024-10-14T10:58:35.187' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageCity] ([CityID], [StateCode], [City], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, 27, N'Pune', 1, CAST(N'2024-10-14T10:58:35.187' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageCity] ([CityID], [StateCode], [City], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, 27, N'Nagpur', 1, CAST(N'2024-10-14T10:58:35.187' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ManageCity] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageCountry] ON 

INSERT [dbo].[ManageCountry] ([CountryID], [CountryCode], [CountryName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'AF', N'Afghanistan', 1, CAST(N'2024-11-25T17:31:08.007' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageCountry] ([CountryID], [CountryCode], [CountryName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'AL', N'Albania', 1, CAST(N'2024-11-25T17:31:08.007' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageCountry] ([CountryID], [CountryCode], [CountryName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, N'DZ', N'Algeria', 1, CAST(N'2024-11-25T17:31:08.007' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ManageCountry] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageRole] ON 

INSERT [dbo].[ManageRole] ([RoleID], [Role], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'Super Admin', 1, CAST(N'2024-10-18T13:05:28.513' AS DateTime), 1, CAST(N'2024-11-20T14:41:40.600' AS DateTime), 1)
INSERT [dbo].[ManageRole] ([RoleID], [Role], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'Admin', 1, CAST(N'2024-10-18T13:05:33.527' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageRole] ([RoleID], [Role], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1002, N'Manager', 1, CAST(N'2024-11-20T14:42:05.163' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ManageRole] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageState] ON 

INSERT [dbo].[ManageState] ([StateID], [CountryCode], [StateCode], [State], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'IN', 1, N'JAMMU AND KASHMIR', 1, CAST(N'2024-10-05T15:53:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageState] ([StateID], [CountryCode], [StateCode], [State], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'IN', 2, N'HIMACHAL PRADESH', 1, CAST(N'2024-10-05T15:53:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[ManageState] ([StateID], [CountryCode], [StateCode], [State], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, N'IN', 3, N'PUNJAB', 1, CAST(N'2024-10-05T15:53:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ManageState] OFF
GO
SET IDENTITY_INSERT [dbo].[UserChildFiles] ON 

INSERT [dbo].[UserChildFiles] ([FileID], [UserID], [FileName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, 1, N'Screenshot (575)_08-12-2024-21-38-48.png', 1, CAST(N'2024-12-08T21:38:48.517' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[UserChildFiles] ([FileID], [UserID], [FileName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, 1, N'Screenshot (576)_08-12-2024-21-38-48.png', 1, CAST(N'2024-12-08T21:38:48.520' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[UserChildFiles] ([FileID], [UserID], [FileName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, 2, N'Screenshot (575)_08-12-2024-21-38-54.png', 2, CAST(N'2024-12-08T21:38:54.797' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UserChildFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ChildFiles] ADD  CONSTRAINT [DF_ChildFiles_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ChildFiles] ADD  CONSTRAINT [DF_ChildFiles_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ChildFiles] ADD  CONSTRAINT [DF_ChildFiles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  CONSTRAINT [DF_DocumentTypes_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  CONSTRAINT [DF_DocumentTypes_CreateOn]  DEFAULT (getdate()) FOR [CreateOn]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  CONSTRAINT [DF_DocumentTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EwayBillItem] ADD  CONSTRAINT [DF_EwayBillItem_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[EwayBillItem] ADD  CONSTRAINT [DF_EwayBillItem_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[EwayBillItem] ADD  CONSTRAINT [DF_EwayBillItem_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EwayBillRequest] ADD  CONSTRAINT [DF_EwayBillRequest_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[EwayBillRequest] ADD  CONSTRAINT [DF_EwayBillRequest_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[EwayBillRequest] ADD  CONSTRAINT [DF_EwayBillRequest_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EwayBillResponseData] ADD  CONSTRAINT [DF_EwayBillResponseData_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[EwayBillResponseData] ADD  CONSTRAINT [DF_EwayBillResponseData_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[EwayBillResponseData] ADD  CONSTRAINT [DF_EwayBillResponseData_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageCity] ADD  CONSTRAINT [DF_ManageCity_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ManageCity] ADD  CONSTRAINT [DF_ManageCity_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageCountry] ADD  CONSTRAINT [DF__ManageCou__Creat__4F47C5E3]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ManageCountry] ADD  CONSTRAINT [DF__ManageCou__IsAct__503BEA1C]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageRole] ADD  CONSTRAINT [DF_ManageRole_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ManageRole] ADD  CONSTRAINT [DF_ManageRole_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ManageState] ADD  CONSTRAINT [DF_ManageState_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ManageState] ADD  CONSTRAINT [DF_ManageState_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserChildFiles] ADD  CONSTRAINT [DF_UserChildFiles_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserChildFiles] ADD  CONSTRAINT [DF_UserChildFiles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[CheckEmailExists]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckEmailExists]
    @Email NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*) 
    FROM Users 
    WHERE Email = @Email AND IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[CheckManageRoleExists]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckManageRoleExists]
    @Role NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*) 
    FROM ManageRole 
    WHERE Role = @Role AND IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[CheckManageStateCodeExists]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckManageStateCodeExists]
    @StateCode INT
AS
BEGIN
    SELECT COUNT(*) 
    FROM ManageState 
    WHERE StateCode = @StateCode AND IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[CheckManageStateExists]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckManageStateExists]
    @State NVARCHAR(100)
AS
BEGIN
    SELECT COUNT(*) 
    FROM ManageState 
    WHERE State = @State AND IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[CheckUsernameExists]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUsernameExists]
    @UserName NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*) 
    FROM Users 
    WHERE UserName = @UserName AND IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteChildFile]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 16/10/2024
-- Description:	Used to Delete Child File
-- =============================================
CREATE PROC [dbo].[DeleteChildFile]
    @FileID INT
AS
BEGIN
	DELETE FROM UserChildFiles WHERE FileID = @FileID;
	SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteExistingChildFiles]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 04/10/2024
-- Description:	Used to Delete Existing Child Files
-- =============================================
CREATE PROC [dbo].[DeleteExistingChildFiles]
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
			--DELETE FROM
			--	UserChildFiles
			--WHERE
			--	UserID = @UserID;
			UPDATE
				UserChildFiles
			SET
				IsActive = 0
			WHERE
				UserID = @UserID;
			SET
				@ID = @UserID;
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteManageCity]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 14/10/2024
-- Description:	Used to Delete Manage City
-- =============================================
CREATE PROC [dbo].[DeleteManageCity]
	@CityID												INT				= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
			UPDATE
				ManageCity
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				CityID				= @CityID
			SET
				@ID = @CityID;
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteManageRole]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 04/10/2024
-- Description:	Used to save Manage Role
-- =============================================
CREATE PROC [dbo].[DeleteManageRole]
	@RoleID												INT				= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
			UPDATE
				ManageRole
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				RoleID				= @RoleID
			SET
				@ID = @RoleID;
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteManageState]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 05/10/2024
-- Description:	Used to save Manage Role
-- =============================================
CREATE PROC [dbo].[DeleteManageState]
	@StateID											INT				= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
			UPDATE
				ManageState
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				StateID				= @StateID
			SET
				@ID = @StateID;
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteManageUsers]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 04/10/2024
-- Description:	Used to Delete Manage Users
-- =============================================
CREATE PROC [dbo].[DeleteManageUsers]
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
			UPDATE
				Users
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				UserID				= @UserID
			SET
				@ID = @UserID;
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllEwayBillDetails]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 19/09/2024
-- Description:	Used to Get All Eway Bill Details
-- Execution:	EXEC GetAllEwayBillDetails
-- =============================================
CREATE PROC [dbo].[GetAllEwayBillDetails]
	@DocNo									nvarchar(50)			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		EWB.Id								AS ID,
		EWB.SupplyType						AS SupplyType,
		EWB.SubSupplyType					AS SubSupplyType,
		EWB.DocType							AS DocType,
		EWB.DocNo							AS DocNo,
		EWB.DocDate							AS DocDate,
		EWB.FromGstin						AS FromGstin,
		EWB.FromTrdName						AS FromTrdName,
		EWB.FromAddr1						AS FromAddr1,
		EWB.FromAddr2						AS FromAddr2,
		EWB.FromPlace						AS FromPlace,
		EWB.ActFromStateCode				AS ActFromStateCode,
		EWB.FromPincode						AS FromPincode,
		EWB.FromStateCode					AS FromStateCode,
		EWB.ToGstin							AS ToGstin,
		EWB.ToTrdName						AS ToTrdName,
		EWB.ToAddr1							AS ToAddr1,
		EWB.ToAddr2							AS ToAddr2,
		EWB.ToPlace							AS ToPlace,
		EWB.ToPincode						AS ToPincode,
		EWB.ActToStateCode					AS ActToStateCode,
		EWB.ToStateCode						AS ToStateCode,
		EWB.TransactionType					AS TransactionType,
		EWB.DispatchFromGSTIN				AS DispatchFromGSTIN,
		EWB.DispatchFromTradeName			AS DispatchFromTradeName,
		EWB.ShipToGSTIN						AS ShipToGSTIN,
		EWB.ShipToTradeName					AS ShipToTradeName,
		EWB.TotalValue						AS TotalValue,
		EWB.CGSTValue						AS CGSTValue,
		EWB.SGSTValue						AS SGSTValue,
		EWB.IGSTValue						AS IGSTValue,
		EWB.CessValue						AS CessValue,
		EWB.CessNonAdvolValue				AS CessNonAdvolValue,
		EWB.TotInvValue						AS TotInvValue,
		EWB.TransMode						AS TransMode,
		EWB.TransDistance					AS TransDistance,
		EWB.TransporterId					AS TransporterId,
		EWB.TransDocNo						AS TransDocNo,
		EWB.VehicleNo						AS VehicleNo,
		EWB.VehicleType						AS VehicleType
	FROM  				
		EwayBillRequest							AS EWB
	WHERE
		(EWB.DocNo = @DocNo OR @DocNo IS NULL)
	AND
		EWB.IsActive = 1
	ORDER BY
		EWB.Id desc
END
GO
/****** Object:  StoredProcedure [dbo].[GetCheckBoxOptions]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCheckBoxOptions]
AS
BEGIN
    SELECT Id, OptionName, IsChecked
    FROM CheckBoxOptions;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDocumentTypes]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 20/09/2024
-- Description:	Used to Get Document Types
-- Execution:	EXEC GetDocumentTypes
-- =============================================
CREATE PROC [dbo].[GetDocumentTypes]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		DT.Id								AS ID,
		DT.DocumentCode						AS DocumentCode,
		DT.DocumentName						AS DocumentName
	FROM  				
		DocumentTypes							AS DT
	WHERE
		DT.IsActive = 1
	ORDER BY
		DT.Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetEwayBillItems]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 19/09/2024
-- Description:	Used to Get Eway Bill Items
-- Execution:	EXEC GetEwayBillItems
-- =============================================
CREATE PROC [dbo].[GetEwayBillItems]
	@EwayBillRequestId									INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		EWBI.Id									AS ID,
		EWBI.EwayBillRequestId					AS EwayBillRequestId,
		EWBI.ProductName						AS ProductName,
		EWBI.ProductDesc						AS ProductDesc,
		EWBI.HsnCode							AS HsnCode,
		EWBI.Quantity							AS Quantity,
		EWBI.QtyUnit							AS QtyUnit,
		EWBI.TaxableAmount						AS TaxableAmount,
		EWBI.CgstRate							AS CgstRate,
		EWBI.SgstRate							AS SgstRate,
		EWBI.IgstRate							AS IgstRate,
		EWBI.CessRate							AS CessRate
	FROM  				
		EwayBillItem							AS EWBI
	WHERE
		(EWBI.EwayBillRequestId = @EwayBillRequestId OR @EwayBillRequestId IS NULL)
	AND
		EWBI.IsActive = 1
	ORDER BY
		EWBI.Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetEwayBillResponse]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 19/09/2024
-- Description:	Used to Get Eway Bill Response
-- Execution:	EXEC GetEwayBillResponse @PageNumber = 1, @PageSize = 10
-- =============================================
CREATE PROC [dbo].[GetEwayBillResponse]
	@PageNumber INT,       -- Page number for pagination
    @PageSize INT          -- Number of records per page
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		EWBR.Id							AS ID,
		EWBR.DocNo						AS DocNo,
		EWBR.ewayBillNo					AS ewayBillNo,
		EWBR.EwayBillDate				AS EwayBillDate,
		EWBR.ValidUpto					AS ValidUpto
	FROM  				
		EwayBillResponseData			AS EWBR
	WHERE
		EWBR.IsActive = 1
	ORDER BY
		EWBR.Id desc
	OFFSET (@PageNumber - 1) * @PageSize ROWS  -- Skip rows for previous pages
    FETCH NEXT @PageSize ROWS ONLY;            -- Fetch only the required number of rows
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT UserID, FirstName, LastName, Email, Password
    FROM Users
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 04/10/2024
-- Description:	Used to Get User By Id
-- Execution:	EXEC GetUserById
-- =============================================
CREATE PROC [dbo].[GetUserById]	
	@UserID									INT = NULL,
	@PageNumber								INT,
	@PageSize								INT,
	@SearchQuery							VARCHAR(100) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		U.UserID									AS UserID,			
		U.FirstName									AS FirstName,
		U.LastName									AS LastName,
		U.UserName									AS UserName,
		U.Password									AS Password,
		U.Email										AS Email,
		U.PhoneNumber								AS PhoneNumber,
		U.Role 										AS Role, 
        U.Gender									AS Gender,
		U.DateOfBirth								AS DateOfBirth,
		U.Address									AS Address,
		U.City										AS City,
		U.State										AS State,
		U.PostalCode								AS PostalCode,
		U.Country									AS Country,
        U.Hobbies									AS Hobbies,
		U.FileName									AS FileName
	FROM
		Users										AS U
	WHERE
		U.IsActive = 1
	AND
		(U.UserID = @UserID OR @UserID IS NULL)
	AND
		(@SearchQuery IS NULL OR 
			U.FirstName LIKE '%' + @SearchQuery + '%' OR
			U.LastName LIKE '%' + @SearchQuery + '%' OR
			U.Email LIKE '%' + @SearchQuery + '%' OR
			U.Role LIKE '%' + @SearchQuery + '%' OR
			CAST(U.UserID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
	ORDER BY
		U.UserID DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS  -- Skip rows for previous pages
    FETCH NEXT @PageSize ROWS ONLY;            -- Fetch only the required number of rows
END

GO
/****** Object:  StoredProcedure [dbo].[GetUserChildFilesById]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 16/10/2024
-- Description:	Used to Get User Child Files By Id
-- Execution:	EXEC GetUserChildFilesById
-- =============================================
CREATE PROC [dbo].[GetUserChildFilesById]	
	@UserID									INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		UC.FileID									AS FileID,
		UC.UserID									AS UserID,
		UC.FileName									AS FileName
	FROM
		UserChildFiles								AS UC
	WHERE
		UC.IsActive = 1
	AND
		(UC.UserID = @UserID OR @UserID IS NULL)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertEwayBillItemData]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEwayBillItemData]
    @EwayBillRequestId INT,
    @ProductName NVARCHAR(100),
    @ProductDesc NVARCHAR(255),
    @HsnCode NVARCHAR(20),
    @Quantity DECIMAL(18, 2),
    @QtyUnit NVARCHAR(20),
    @TaxableAmount DECIMAL(18, 2),
    @CGSTRate DECIMAL(5, 2),
    @SGSTRate DECIMAL(5, 2),
    @IGSTRate DECIMAL(5, 2),
    @CessRate DECIMAL(5, 2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO EwayBillItem (
        EwayBillRequestId, ProductName, ProductDesc, HsnCode, Quantity, QtyUnit, 
        TaxableAmount, CGSTRate, SGSTRate, IGSTRate, CessRate
    )
    VALUES (
        @EwayBillRequestId, @ProductName, @ProductDesc, @HsnCode, @Quantity, @QtyUnit, 
        @TaxableAmount, @CGSTRate, @SGSTRate, @IGSTRate, @CessRate
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEwayBillRequestData]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEwayBillRequestData]
    @SupplyType NVARCHAR(50),
    @SubSupplyType NVARCHAR(50),
    @DocType NVARCHAR(50),
    @DocNo NVARCHAR(50),
    @DocDate NVARCHAR(20),
    @FromGstin NVARCHAR(50),
    @FromTrdName NVARCHAR(100),
    @FromAddr1 NVARCHAR(255),
    @FromAddr2 NVARCHAR(255),
    @FromPlace NVARCHAR(100),
    @ActFromStateCode NVARCHAR(10),
    @FromPincode NVARCHAR(10),
    @FromStateCode NVARCHAR(10),
    @ToGstin NVARCHAR(50),
    @ToTrdName NVARCHAR(100),
    @ToAddr1 NVARCHAR(255),
    @ToAddr2 NVARCHAR(255),
    @ToPlace NVARCHAR(100),
    @ToPincode NVARCHAR(10),
    @ActToStateCode NVARCHAR(10),
    @ToStateCode NVARCHAR(10),
    @TransactionType NVARCHAR(50),
    @DispatchFromGSTIN NVARCHAR(50),
    @DispatchFromTradeName NVARCHAR(100),
    @ShipToGSTIN NVARCHAR(50),
    @ShipToTradeName NVARCHAR(100),
    @TotalValue DECIMAL(18, 2),
    @CGSTValue DECIMAL(18, 2),
    @SGSTValue DECIMAL(18, 2),
    @IGSTValue DECIMAL(18, 2),
    @CessValue DECIMAL(18, 2),
    @CessNonAdvolValue DECIMAL(18, 2),
    @TotInvValue DECIMAL(18, 2),
    @TransMode NVARCHAR(50),
    @TransDistance DECIMAL(18, 2),
    @TransporterId NVARCHAR(50),
    @TransDocNo NVARCHAR(50),
    @VehicleNo NVARCHAR(50),
    @VehicleType NVARCHAR(50),
    @RequestJson NVARCHAR(MAX),
    @RequestId INT OUTPUT -- Added OUTPUT parameter
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO EwayBillRequest (
        SupplyType, SubSupplyType, DocType, DocNo, DocDate, FromGstin, FromTrdName,
        FromAddr1, FromAddr2, FromPlace, ActFromStateCode, FromPincode, FromStateCode,
        ToGstin, ToTrdName, ToAddr1, ToAddr2, ToPlace, ToPincode, ActToStateCode,
        ToStateCode, TransactionType, DispatchFromGSTIN, DispatchFromTradeName, ShipToGSTIN,
        ShipToTradeName, TotalValue, CGSTValue, SGSTValue, IGSTValue, CessValue,
        CessNonAdvolValue, TotInvValue, TransMode, TransDistance, TransporterId,
        TransDocNo, VehicleNo, VehicleType, RequestJson
    )
    VALUES (
        @SupplyType, @SubSupplyType, @DocType, @DocNo, @DocDate, @FromGstin, @FromTrdName,
        @FromAddr1, @FromAddr2, @FromPlace, @ActFromStateCode, @FromPincode, @FromStateCode,
        @ToGstin, @ToTrdName, @ToAddr1, @ToAddr2, @ToPlace, @ToPincode, @ActToStateCode,
        @ToStateCode, @TransactionType, @DispatchFromGSTIN, @DispatchFromTradeName, @ShipToGSTIN,
        @ShipToTradeName, @TotalValue, @CGSTValue, @SGSTValue, @IGSTValue, @CessValue,
        @CessNonAdvolValue, @TotInvValue, @TransMode, @TransDistance, @TransporterId,
        @TransDocNo, @VehicleNo, @VehicleType, @RequestJson
    );

    -- Set the OUTPUT parameter with the last inserted ID
    SET @RequestId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEwayBillResponseData]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEwayBillResponseData]
@DocNo nvarchar(50),
@ewayBillNo BIGINT,
@EwayBillDate VARCHAR(20),
@ValidUpto VARCHAR(20),
@StatusCode VARCHAR(10),
@StatusDesc VARCHAR(255),
@ResponseJson NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO EwayBillResponseData (DocNo, ewayBillNo, EwayBillDate, ValidUpto, StatusCode, StatusDesc, ResponseJson)
    VALUES (@DocNo, @ewayBillNo, @EwayBillDate, @ValidUpto, @StatusCode, @StatusDesc, @ResponseJson);
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 09/10/2024
-- Description:	Used to save Manage Role
-- =============================================
CREATE PROC [dbo].[RegisterUser]
	@UserID												INT				= NULL,
	@FirstName											NVARCHAR(50)	= NULL,
    @LastName											NVARCHAR(50)	= NULL,
    @UserName											NVARCHAR(50)	= NULL,
    @Password											NVARCHAR(255)	= NULL,
    @Email												NVARCHAR(100)	= NULL,
    @PhoneNumber										NVARCHAR(15)	= NULL,
    @Role												NVARCHAR(50)	= NULL,
    @Gender												NVARCHAR(10)	= NULL,
    @DateOfBirth										NVARCHAR(10)	= NULL,
    @Address											NVARCHAR(255)	= NULL,
    @City												NVARCHAR(50)	= NULL,
    @State												NVARCHAR(50)	= NULL,
    @PostalCode											NVARCHAR(20)	= NULL,
    @Country											NVARCHAR(50)	= NULL,
    @Hobbies											NVARCHAR(MAX)	= NULL,
	@FileName											NVARCHAR(MAX)	= NULL,
	@Id													INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

		IF NOT EXISTS(SELECT 1 FROM Users WHERE UserID = @UserID)
		BEGIN
			INSERT INTO
				Users(FirstName, LastName, UserName, Password, Email, PhoneNumber, Role, Gender, DateOfBirth, Address, City, State, PostalCode, Country, Hobbies, FileName)
			VALUES
				(@FirstName, @LastName, @UserName, @Password, @Email, @PhoneNumber, @Role, @Gender, @DateOfBirth, @Address, @City, @State, @PostalCode, @Country, @Hobbies, @FileName);
			SET
				@Id = SCOPE_IDENTITY();
			RETURN 1; -- Return 1 for successful insert
		END

		ELSE
		BEGIN
			UPDATE
				Users
			SET
				FirstName			= @FirstName,
				LastName			= @LastName,
				UserName			= @UserName,
				Password			= @Password,
				Email				= @Email,
				PhoneNumber			= @PhoneNumber,
				Role				= @Role,
				Gender				= @Gender,
				DateOfBirth			= @DateOfBirth,
				Address				= @Address,
				City				= @City,
				State				= @State,
				PostalCode			= @PostalCode,
				Country				= @Country,
				Hobbies				= @Hobbies,
				FileName			= @FileName,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				UserID				= @UserID
			SET
				@Id = @UserID;
			RETURN 2; -- Return 2 for successful update
		END
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUserChildFiles]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 15/10/2024
-- Description:	Used to RegisterUserChildFiles
-- =============================================
CREATE PROC [dbo].[RegisterUserChildFiles]
	@FileID												INT				= NULL,
	@UserID												INT				= NULL,
    @FileName											NVARCHAR(MAX)	= NULL,
	@Id													INT OUTPUT,
	@IsFirstInsert BIT = 0 -- Flag to indicate if it's the first insert
AS
BEGIN
	SET NOCOUNT ON;

	-- Run DELETE only on the first insert
	IF @IsFirstInsert = 1
	BEGIN
		--DELETE FROM UserChildFiles WHERE UserID = @UserID;
		UPDATE UserChildFiles SET IsActive = 0 WHERE UserID = @UserID;
	END

	-- Insert new row if FileID does not exist
	IF NOT EXISTS(SELECT 1 FROM UserChildFiles WHERE FileID = @FileID AND IsActive = 1)
	BEGIN
		INSERT INTO UserChildFiles(UserID, FileName, CreatedBy)
		VALUES (@UserID, @FileName, @UserID);

		SET @Id = SCOPE_IDENTITY();
		RETURN 1; -- Return 1 for successful insert
	END


		--IF NOT EXISTS(SELECT 1 FROM UserChildFiles WHERE FileID = @FileID)
		--BEGIN
		--	INSERT INTO
		--		UserChildFiles(UserID, FileName, CreatedBy)
		--	VALUES
		--		(@UserID, @FileName, @UserID);
		--	SET
		--		@Id = SCOPE_IDENTITY();
		--	RETURN 1; -- Return 1 for successful insert
		--END

		--ELSE
		--BEGIN
		--Delete from UserChildFiles where UserID = @UserID
		--	IF @FileName IS NOT NULL
		--	BEGIN
		--		INSERT INTO
		--			UserChildFiles(UserID, FileName, CreatedBy)
		--		VALUES
		--			(@UserID, @FileName, @UserID);
		--		SET
		--			@Id = SCOPE_IDENTITY();
		--		RETURN 1;
		--	END
		--	ELSE
		--	BEGIN
		--		RETURN 0;
		--	END

		----Delete from UserChildFiles where UserID = @UserID
		----	INSERT INTO
		----		UserChildFiles(UserID, FileName, CreatedBy)
		----	VALUES
		----		(@UserID, @FileName, @UserID);
		----	SET
		----		@Id = SCOPE_IDENTITY();
		----	RETURN 1; -- Return 1 for successful insert
		--	--UPDATE
		--	--	UserChildFiles
		--	--SET
		--	--	UserID				= @UserID,
		--	--	FileName			= @FileName,
		--	--	UpdatedBy			= @UserID,
		--	--	UpdatedOn			= GETDATE()
		--	--WHERE
		--	--	FileID				= @FileID
		--	--SET
		--	--	@Id = @FileID;
		--	--RETURN 2; -- Return 2 for successful update
		--END
END
GO
/****** Object:  StoredProcedure [dbo].[SaveManageCity]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 14/10/2024
-- Description:	Used to Save Manage City
-- =============================================
CREATE PROC [dbo].[SaveManageCity]
	@CityID												INT				= NULL,
	@StateCode											INT				= NULL,
	@City												VARCHAR(50),	
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM ManageCity WHERE CityID = @CityID)
		BEGIN
			INSERT INTO
				ManageCity(StateCode, City, CreatedBy)
			VALUES
				(@StateCode, @City, @UserID);
			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				ManageCity
			SET
				StateCode			= @StateCode,
				City				= @City,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				CityID				= @CityID
			SET
				@ID = @CityID;
		END
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SaveManageRole]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 03/10/2024
-- Description:	Used to save Manage Role
-- =============================================
CREATE PROC [dbo].[SaveManageRole]
	@RoleID												INT				= NULL,
	@Role												VARCHAR(50),	
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM ManageRole WHERE RoleID = @RoleID)
		BEGIN
			INSERT INTO
				ManageRole(Role, CreatedBy)
			VALUES
				(@Role, @UserID);
			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				ManageRole
			SET
				Role				= @Role,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				RoleID				= @RoleID
			SET
				@ID = @RoleID;
		END
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SaveManageState]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 05/10/2024
-- Description:	Used to save Manage State
-- =============================================
CREATE PROC [dbo].[SaveManageState]
	@StateID											INT				= NULL,
	@StateCode											INT				= NULL,
	@State												VARCHAR(50),	
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(50)		OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM ManageState WHERE StateID = @StateID)
		BEGIN
			INSERT INTO
				ManageState(StateCode, State, CreatedBy)
			VALUES
				(@StateCode, @State, @UserID);
			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				ManageState
			SET
				StateCode			= @StateCode,
				State				= @State,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				StateID				= @StateID
			SET
				@ID = @StateID;
		END
			SET
				@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			  @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ShowManageCity]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 14/10/2024
-- Description:	Used to Show Manage City
-- Execution:	EXEC ShowManageCity null,1,5,null,null
-- =============================================
CREATE PROC [dbo].[ShowManageCity]	
	@CityID									INT = NULL,
	@PageNumber								INT = NULL,
    @PageSize								INT = NULL,
	@SearchQuery							VARCHAR(100) = NULL,
	@StateCode								INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF @PageNumber IS NOT NULL AND @PageSize IS NOT NULL AND @PageNumber > 0 AND @PageSize > 0
	BEGIN
		SELECT
			MC.CityID									AS CityID,
			MC.StateCode								AS StateCode,
			MS.State									AS State,
			MC.City										AS City,
			MC.CreatedBy								AS UserID
		FROM
			ManageCity									AS MC
		LEFT JOIN	ManageState							AS MS
			ON MC.StateCode = MS.StateCode
		WHERE
			MC.IsActive = 1
		AND
			(MC.CityID = @CityID OR @CityID IS NULL)
		AND
			(MC.StateCode = @StateCode OR @StateCode IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MS.[State] LIKE '%' + @SearchQuery + '%' OR 
				MC.City LIKE '%' + @SearchQuery + '%' OR
				CAST(MC.CityID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MS.State,MC.City ASC
		OFFSET (@PageNumber - 1) * @PageSize ROWS
		FETCH NEXT @PageSize ROWS ONLY;
	END
    ELSE
    BEGIN
        SELECT
			MC.CityID									AS CityID,
			MC.StateCode								AS StateCode,
			MS.State									AS State,
			MC.City										AS City,
			MC.CreatedBy								AS UserID
        FROM
			ManageCity									AS MC
		LEFT JOIN	ManageState							AS MS
			ON MC.StateCode = MS.StateCode
        WHERE
            MC.IsActive = 1
		AND
			(MC.StateCode = @StateCode OR @StateCode IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MS.[State] LIKE '%' + @SearchQuery + '%' OR 
				MC.City LIKE '%' + @SearchQuery + '%' OR
				CAST(MC.CityID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
        ORDER BY
			MS.State,MC.City ASC;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[ShowManageCountry]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 26/11/2024
-- Description:	Used to Show Manage Country
-- Execution:	EXEC ShowManageCountry null,1,5
-- =============================================
CREATE PROC [dbo].[ShowManageCountry]	
	@CountryID								INT = NULL,
	@PageNumber								INT = NULL,
    @PageSize								INT = NULL,
	@SearchQuery							NVARCHAR(100) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF @PageNumber IS NOT NULL AND @PageSize IS NOT NULL AND @PageNumber > 0 AND @PageSize > 0
	BEGIN
		SELECT
			MC.CountryID								AS CountryID,
			MC.CountryCode								AS CountryCode,
			MC.CountryName								AS CountryName,
			MC.CreatedBy								AS UserID
		FROM
			ManageCountry								AS MC
		WHERE
			MC.IsActive = 1
		AND
			(MC.CountryID = @CountryID OR @CountryID IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MC.CountryCode LIKE '%' + @SearchQuery + '%' OR
				MC.CountryName LIKE '%' + @SearchQuery + '%' OR
				CAST(MC.CountryID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MC.CountryName ASC
		OFFSET (@PageNumber - 1) * @PageSize ROWS
		FETCH NEXT @PageSize ROWS ONLY;
	END
    ELSE
    BEGIN
		SELECT
			MC.CountryID								AS CountryID,
			MC.CountryCode								AS CountryCode,
			MC.CountryName								AS CountryName,
			MC.CreatedBy								AS UserID
		FROM
			ManageCountry								AS MC
		WHERE
			MC.IsActive = 1
		AND
			(@SearchQuery IS NULL OR 
				MC.CountryCode LIKE '%' + @SearchQuery + '%' OR
				MC.CountryName LIKE '%' + @SearchQuery + '%' OR
				CAST(MC.CountryID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MC.CountryName ASC
	END
END

GO
/****** Object:  StoredProcedure [dbo].[ShowManageRole]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 03/10/2024
-- Description:	Used to Show Manage Role
-- Execution:	EXEC ShowManageRole null,1,5
-- =============================================
CREATE PROC [dbo].[ShowManageRole]	
	@RoleID									INT = NULL,
	@PageNumber								INT = NULL,
    @PageSize								INT = NULL,
	@SearchQuery							NVARCHAR(100) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF @PageNumber IS NOT NULL AND @PageSize IS NOT NULL AND @PageNumber > 0 AND @PageSize > 0
	BEGIN
		SELECT
			MR.RoleID									AS RoleID,
			MR.Role										AS Role,
			MR.CreatedBy								AS UserID
		FROM
			ManageRole									AS MR
		WHERE
			MR.IsActive = 1
		AND
			(MR.RoleID = @RoleID OR @RoleID IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MR.Role LIKE '%' + @SearchQuery + '%' OR 
				CAST(MR.RoleID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MR.RoleID ASC
		OFFSET (@PageNumber - 1) * @PageSize ROWS
		FETCH NEXT @PageSize ROWS ONLY;
	END
    ELSE
    BEGIN
		SELECT
			MR.RoleID									AS RoleID,
			MR.Role										AS Role,
			MR.CreatedBy								AS UserID
		FROM
			ManageRole									AS MR
		WHERE
			MR.IsActive = 1
		AND
			(@SearchQuery IS NULL OR 
				MR.Role LIKE '%' + @SearchQuery + '%' OR 
				CAST(MR.RoleID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MR.RoleID ASC
	END
END

GO
/****** Object:  StoredProcedure [dbo].[ShowManageState]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Shaikh Viqar
-- Create date: 05/10/2024
-- Description:	Used to Show Manage State
-- Execution:	EXEC ShowManageState null,1,5
-- =============================================
CREATE PROC [dbo].[ShowManageState]	
	@StateID								INT = NULL,
	@PageNumber								INT = NULL,
    @PageSize								INT = NULL,
	@SearchQuery							VARCHAR(100) = NULL,
	@CountryCode							NVARCHAR(10) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF @PageNumber IS NOT NULL AND @PageSize IS NOT NULL AND @PageNumber > 0 AND @PageSize > 0
	BEGIN
		SELECT
			MS.StateID									AS StateID,
			MS.CountryCode								AS CountryCode,
			MS.StateCode								AS StateCode,
			MS.State									AS State,
			MS.CreatedBy								AS UserID
			
		FROM
			ManageState									AS MS
		WHERE
			MS.IsActive = 1
		AND
			(MS.StateID = @StateID OR @StateID IS NULL)
		AND
			(MS.CountryCode = @CountryCode OR @CountryCode IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MS.State LIKE '%' + @SearchQuery + '%' OR 
				CAST(MS.StateCode AS VARCHAR) LIKE '%' + @SearchQuery + '%' OR
				CAST(MS.StateID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
		ORDER BY
			MS.State ASC
		OFFSET (@PageNumber - 1) * @PageSize ROWS
		FETCH NEXT @PageSize ROWS ONLY;
	END
    ELSE
    BEGIN
        SELECT
            MS.StateID									AS StateID,
			MS.CountryCode								AS CountryCode,
            MS.StateCode								AS StateCode,
            MS.State									AS State,
            MS.CreatedBy								AS UserID
        FROM
            ManageState									AS MS
        WHERE
            MS.IsActive = 1
		AND
			(MS.CountryCode = @CountryCode OR @CountryCode IS NULL)
		AND
			(@SearchQuery IS NULL OR 
				MS.State LIKE '%' + @SearchQuery + '%' OR 
				CAST(MS.StateCode AS VARCHAR) LIKE '%' + @SearchQuery + '%' OR
				CAST(MS.StateID AS VARCHAR) LIKE '%' + @SearchQuery + '%')
        ORDER BY
            MS.State ASC;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateCheckBoxOptions]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCheckBoxOptions]
    @Id INT,
    @IsChecked BIT
AS
BEGIN
    UPDATE CheckBoxOptions
    SET IsChecked = @IsChecked
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPassword]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserPassword]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    -- Begin transaction to ensure atomic operation
    BEGIN TRANSACTION;

    -- Try to update the user's password
    BEGIN TRY
        -- Update the password of the user with the provided email
        UPDATE Users
        SET Password = @Password
        WHERE Email = @Email;

        -- Check if any rows were affected (i.e., the user exists)
        IF @@ROWCOUNT = 0
        BEGIN
            -- If no rows were affected, it means the email is not found
            THROW 50001, 'User not found.', 1;
        END

        -- Commit the transaction if everything is successful
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction if any error occurs
        ROLLBACK TRANSACTION;

        -- Re-throw the error to the calling application
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetChildFilesByEmployeeId]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetChildFilesByEmployeeId]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FileID,
        FileName,
        EmployeeId
    FROM 
        ChildFiles
    WHERE 
        EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeById]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetEmployeeById]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EmployeeID,
        FirstName,
        LastName,
        EmployeeName,
        Address,
        City,
        Password
    FROM 
        Employees
    WHERE 
        EmployeeID = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertChildFile]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertChildFile]
    @EmployeeId INT,
    @FileName NVARCHAR(200)
AS
BEGIN
    INSERT INTO ChildFiles (EmployeeId, FileName)
    VALUES (@EmployeeId, @FileName);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertEmployee]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertEmployee]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @EmployeeName NVARCHAR(100),
    @Address NVARCHAR(200),
    @City NVARCHAR(100),
    @Password NVARCHAR(100),
    @EmployeeId INT OUTPUT
AS
BEGIN
    INSERT INTO Employees (FirstName, LastName, EmployeeName, Address, City, Password)
    VALUES (@FirstName, @LastName, @EmployeeName, @Address, @City, @Password);

    SET @EmployeeId = SCOPE_IDENTITY(); -- Get the new Employee ID
END
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 08-12-2024 21:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shaikh Viqar
-- Create date: 21/09/2024
-- Description:	Used to Validate User
-- Execution:	EXEC ValidateUser 'admin','123'
-- =============================================
CREATE PROC [dbo].[ValidateUser]
	@UserName								NVARCHAR(50)	= NULL
    --@Password								NVARCHAR(50)	= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		U.UserID							AS UserID,
		U.FirstName							AS FirstName,
		U.LastName							AS LastName,
		U.UserName							AS UserName,
		U.Email								AS Email,
		U.PhoneNumber						AS PhoneNumber,
		U.Role								AS Role,
		U.Password							AS Password
	FROM  				
		Users								AS U
	WHERE
		(U.UserName = @UserName OR @UserName IS NULL)
	--AND
	--	(U.Password = @Password OR @Password IS NULL)
	AND
		U.IsActive = 1
	ORDER BY
		U.UserID
END
GO
USE [master]
GO
